@mixin typo-title {
    font-size: 1.8em;
    font-weight: bold;
}
@mixin typo-text {
    font-size: 1em;
}
@mixin typo-text-bold {
    font-size: 1.1em;
    font-weight: bold;
}
@mixin typo-icon {
    font-size: 1.1em;
}
@mixin typo-imp-text {
    font-size: 1.2em;
    color: #6f6f6f;
}
@mixin typo-btn {
    font-size: 1.1em;
    color: #FFFFFF;
}
@mixin typo-num-list{
    font-size: 0.9em;
    color: #FFFFFF;
}