@mixin typo-title {
    font-size: 1.8em;
    font-weight: bold;
}
@mixin typo-menu-title {
    font-size: 1.6em;
    font-weight: normal;
    color: black;
    
}
@mixin typo-title-footer {
    font-family: $font-logo;
    color: #fdfdfd;
    font-size: 1.3em;
}
@mixin typo-text {
    font-size: 1em;
    color: black;
}
@mixin typo-text-bold {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
@mixin typo-icon-bold {
    font-size: 1.3em;
    color: black;
    font-weight: bold;
}
@mixin typo-icon {
    font-size: 1.1em;
}
@mixin typo-imp-text {
    font-size: 1.2em;
    color: #6f6f6f;
}
@mixin typo-btn {
    font-size: 1.1em;
    color: #FFFFFF;
}
@mixin typo-num-list{
    font-size: 0.9em;
    color: #FFFFFF;
}

@mixin box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin linearGradient-botttom-left{
    background: linear-gradient(to bottom left, $secondary-color-light,$primary-color-light);
}

@mixin linearGradient-bottom-right {
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
}
