$font-logo: "shrikhand", serif;
$font-text: "roboto", serif;

$primary-color: #9356DC;
$secondary-color: #ff79DA;
$tertiary-color: #99E2D0;

$primary-color-light: lighten($primary-color,3%);
$secondary-color-light: lighten($secondary-color,3%)