@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes opacity-clr {
  0% {
    transform-origin: 50% 100%;
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  76% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
body {
  font-family: "roboto", serif;
  box-sizing: border-box;
}

html {
  max-width: 1200px;
  min-width: 360px;
  margin: auto;
  cursor: default;
}

.btn {
  justify-content: center;
  width: 65%;
  align-self: center;
  display: flex;
}
.btn .btn-nav {
  background: linear-gradient(to bottom right, #ff79DA, #9356DC);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  border: none;
  padding: 1.9vh 2.5vh;
  border-radius: 50px;
  font-size: 1.1em;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
.btn .btn-nav:hover {
  border-radius: 50px;
}
.btn .btn-nav:hover::after {
  opacity: 1;
}
.btn .btn-nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom left, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 50px;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -2px 4px;
  color: #444343;
  font-size: 1em;
  font-weight: bold;
}
.position i {
  margin-right: 2%;
  font-size: 1.1em;
}
.position p {
  margin-right: 8%;
}
@media (min-width: 565px) {
  .position p {
    margin-right: 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F8F8F8;
  width: 100%;
  padding-bottom: 10%;
}
.nav .nav-title {
  font-size: 1.8em;
  font-weight: bold;
  width: 65%;
  align-self: center;
  margin-bottom: 1%;
}
.nav .nav-p {
  font-size: 1.2em;
  color: #6f6f6f;
  width: 75%;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 30px;
}

.function {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}
.function .function-title {
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 5%;
}
.function .function-list {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  padding-left: 0;
  margin-top: 5%;
}
@media (min-width: 992px) {
  .function .function-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    margin-top: 1%;
    margin-bottom: 0;
  }
}
.function .function-list .puce {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  display: flex;
  align-items: baseline;
  background-color: #F0F0F0;
  border-radius: 20px;
  margin-bottom: 8%;
  padding: 13px;
  transition: 250ms;
}
.function .function-list .puce:hover {
  background-color: #f2eafb;
}
.function .function-list .puce:hover .fa-sharp, .function .function-list .puce:hover .fa-solid {
  color: #9356DC;
}
@media (min-width: 992px) {
  .function .function-list .puce {
    width: 28%;
    margin-bottom: 0;
  }
}
.function .function-list .puce .fa-solid, .function .function-list .puce .fa-sharp {
  font-size: 1.2em;
  color: #6f6f6f;
  margin-right: 35px;
}
@media (min-width: 992px) {
  .function .function-list .puce .fa-solid, .function .function-list .puce .fa-sharp {
    margin-right: 15px;
  }
}
.function .function-list .puce .num {
  font-size: 0.9em;
  color: #FFFFFF;
  margin-right: 30px;
  margin-left: -27px;
  background-color: #9356DC;
  padding: 4px 9px;
  border-radius: 50%;
}

.restaurant {
  background-color: #f0f0f0;
  padding-top: 30px;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .restaurant {
    padding-bottom: 5%;
  }
}
.restaurant .restaurant-title {
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 5%;
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .restaurant .card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vh;
  }
}
.restaurant .card .card-news::before {
  content: "Nouveau";
  display: flex;
  background-color: #99E2D0;
  position: absolute;
  padding: 5px 13px;
  font-size: 1em;
  color: black;
  border-radius: 5%;
  margin-left: 65%;
  margin-top: 20px;
  color: #217460;
  font-weight: bold;
  justify-content: center;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@media (min-width: 992px) {
  .restaurant .card .card-news::before {
    margin-left: 345px;
  }
}
.restaurant .card .card-lien {
  width: 90%;
  height: 300px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .restaurant .card .card-lien {
    width: 45%;
  }
}
.restaurant .card .card-lien .card-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .card .card-lien .card-container {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.restaurant .card .card-lien .card-container .card-info .card-text {
  font-size: 1em;
  color: black;
  margin-top: 8px;
}
.restaurant .card .card-lien .card-container .card-info .card-title {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  margin-top: 11px;
  margin-bottom: 0;
}
.restaurant .card .card-lien .card-container .btn__like {
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 30px;
}
.restaurant .card .card-lien .card-container .btn__like:hover .far {
  opacity: 0;
  animation: opacity-clr 450ms ease-in-out reverse;
}
.restaurant .card .card-lien .card-container .btn__like:hover .fas {
  animation: opacity-clr 450ms ease-in-out;
  opacity: 1;
}
.restaurant .card .card-lien .card-container .btn__like .far {
  color: black;
  font-size: 1.7em;
  margin: 0;
  margin-right: -4px;
}
.restaurant .card .card-lien .card-container .btn__like .fas {
  opacity: 0;
  margin-left: -27px;
  font-size: 1.7em;
  background: -webkit-linear-gradient(#9356DC, #ff79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1%;
}
header .return-home {
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  position: fixed;
  margin-right: 0;
  margin-left: 25px;
}
header h1 {
  font-family: "shrikhand", serif;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 0;
}

footer {
  background-color: #454545;
  display: flex;
  flex-direction: column;
}
footer .footer-title {
  font-family: "shrikhand", serif;
  color: #fdfdfd;
  font-size: 1.3em;
  margin-left: 5%;
  font-weight: 500;
}
@media (min-width: 992px) {
  footer .footer-title {
    text-align: center;
  }
}
footer .footer-list {
  list-style: none;
  padding-left: 0;
  margin-left: 5%;
}
@media (min-width: 992px) {
  footer .footer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 5%;
  }
}
footer .footer-list .footer-lien {
  display: flex;
  text-decoration: none;
  font-size: 0.9em;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  footer .footer-list .footer-lien {
    width: 100%;
  }
}
footer .footer-list .footer-lien .text-footer-list {
  margin: 0;
}
footer .footer-list .footer-lien .fa-solid.fa-utensils {
  margin-right: 10px;
}
footer .footer-list .footer-lien .fa-solid.fa-handshake-angle {
  margin-right: 5px;
}

body .illu-head {
  width: 100%;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -2px 1px;
  margin: 0 0 -4em 0;
}
body .illu-head .illu-head-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 14rem;
  width: 100%;
}
body .menu__head {
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px 35px 0px 0px;
  padding: 0.5rem 1rem 0 1rem;
  position: relative;
  z-index: 1;
}
body .menu__head .menu__title {
  font-size: 1.6em;
  font-weight: normal;
  color: black;
  font-family: "shrikhand", serif;
}
body .menu__head .btn__like {
  align-self: flex-end;
  margin: auto;
  margin-right: 25px;
}
body .menu__head .btn__like:hover .far {
  opacity: 0;
  animation: opacity-clr 450ms ease-in-out reverse;
}
body .menu__head .btn__like:hover .fas {
  animation: opacity-clr 450ms ease-in-out;
  opacity: 1;
}
body .menu__head .btn__like .far {
  color: black;
  font-size: 1.7em;
  margin: 0;
  margin-right: -4px;
}
body .menu__head .btn__like .fas {
  opacity: 0;
  margin-left: -27px;
  font-size: 1.7em;
  background: -webkit-linear-gradient(#9356DC, #ff79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
