.position{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#F0F0F0 ;
    width:auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px -2px 4px;
    color: 	#444343;
    font-size: 1em;
    font-weight: bold;
    i{
        margin-right: 2%;
        font-size: 1.1em;
    }
    p{
        margin-right: 8%;
        @media (min-width:565px) {
            margin-right: 0;
        }
    }
}
.nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F8F8F8;
    width: 100%;
    padding-bottom: 10%;
    .nav-title{
        @include typo-title;
        width: 65%;
        align-self: center;
        margin-bottom: 1%;
    }
    .nav-p{
        @include typo-imp-text;
        width: 75%;
        align-self: center;
        margin-top: 2%;
        margin-bottom: 30px;

    }
}


.function{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    .function-title{
        @include typo-title;
        padding-left: 5%;
    }
    
    .function-list{
        @include typo-text;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
        padding-left: 0;
        margin-top: 5%;
        @media (min-width: 992px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 2%;
            margin-top: 1%;
        }
    
        .puce{
            width: 80%;
            display: flex;
            align-items: baseline;
            background-color: #F0F0F0;
            border-radius: 20px;
            margin-bottom: 8%;
            padding: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @media (min-width: 992px){
                width: 25%;
            }
            .fa-solid, .fa-sharp{
                @include typo-imp-text;
                margin-right: 20px;
            }
            .num{
                @include typo-num-list;
                margin-right: 30px;
                margin-left: -27px;
                background-color: $primary-color;
                padding: 4px 9px;
                border-radius: 50%;
            }
            
        }
    }
}
