.btn{
    justify-content: center;
    width: 65%;
    align-self: center;
    display: flex;
    
    .btn-nav{
        @include linearGradient-bottom-right;
        @include box-shadow;
        z-index: 1;
        border: none;
        padding: 1.9vh 2.5vh;
        border-radius: 50px;
        @include typo-btn;
        cursor: pointer;
        position: relative;

        &:hover{
            border-radius: 50px;
            &::after {
                opacity: 1;
            }
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include linearGradient-botttom-left;
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            border-radius: 50px;
        }
    }
}