header{
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    
    .return-home{
        @include typo-icon-bold;
        position: fixed;
        margin-right: 0;
        margin-left: 25px;
    }
    
    h1{
        font-family: $font-logo;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin: 0;
        
    }
}